.jumbotron{
	position: relative;
}
.mostrar-libros{
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	padding: 15px;
	font-size: 13px;
}
.misLibros{
	position: absolute;
	right: 0;
	top: 35px;
	border: 1px solid silver;
	background-color: #fff;
	width: 200px;
	padding: 5px;
}
.misLibros h2{
	font-size: 20px;
	margin: 0 0 5px 0;
	border-bottom: 1px solid silver;
}
.misLibros ul{
	margin: 0;
	padding: 0 0 0 15px;
}