<div class="container">
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a routerLink="/">Inicio</a></li>
				<li><a routerLink="/acerca-de">Acerca de</a></li>
				<li><a routerLink="/lista-libros">Lista de Libros</a></li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron">
		<button class="glyphicon glyphicon-book mostrar-libros" (click)="mostrarLista=!mostrarLista"></button >
		<div class="misLibros" *ngIf="mostrarLista">
			<h2>Mis Libros</h2>
			<ul>
				<li>{{libro.titulo}}</li>
			</ul>
		</div>
		<h1>BIBLIOTECA NIVELPRO</h1>
	</div>

</div>