#menu{
	position: absolute;
	width: 100%;
	z-index: 1;
	text-align: center;
	top: 10px;
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu a{
	color: white;
}
#menu a:hover{
	text-decoration: none;
}
#menu li{
	display: inline-block;
	background: none;
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 5px;
	width: 100px;
}
#menu li:hover{
	background: white;
}
#menu li:hover a{
	color: black;
}
app-vuelos{
	text-align: center;
    padding-top: 100px;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url(https://previews.123rf.com/images/manczurov/manczurov1302/manczurov130200292/18029754-Bandera-colombiana-en-los-granos-de-caf--Foto-de-archivo.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
