<ngb-carousel>
	<ng-template ngbSlide>
		<img class="imagenSlide" src="http://www.chevrolet.com.co/content/dam/Chevrolet/lat-am/Colombia/nscwebsite/es/home/homepage/01_Images/2017/2017-chevrolet-spark-gt-encore-carro-urbano-1420x551.jpg?ieReload=1" alt="Imagen 1">
		
	</ng-template>
	<ng-template ngbSlide>
		<img class="imagenSlide" src="http://www.chevrolet.com.co/content/dam/Chevrolet/lat-am/Colombia/nscwebsite/es/home/homepage/01_Images/2017/2017-promociones-chevrolet-elegidos-1420x551.jpg?ieReload=1" alt="Imagen 1">
		<div class="carousel-caption">
			<h3>Tu nuevo vehiculo Chevrolet</h3>
			<p>No te pierdas esta oportunidad</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img class="imagenSlide" src="http://www.chevrolet.com.co/content/dam/Chevrolet/lat-am/Colombia/nscwebsite/es/home/homepage/01_Images/2017/2017-chevrolet-onix-activ-offroad-1420x551.jpg?ieReload=1" alt="Imagen 1">
		<div class="carousel-caption">
			<h3>Tu nuevo vehiculo Chevrolet</h3>
			<p>No te pierdas esta oportunidad</p>
		</div>
	</ng-template>
	
</ngb-carousel>