<div class="row" >
	<div class="col-12">
		<form (ngSubmit)="guardarCompra(nuevaCompra)">
			<input required class="form-control" type="text" name="texto" placeholder="Ingresa la compra" [(ngModel)]="nuevaCompra.texto">

			<input required class="form-control "type="number" name="valor" placeholder="Ingresa el valor" [(ngModel)]="nuevaCompra.valor">
			<button class="btn btn-default" type="submit"> Insertar</button>
		</form>
	</div>
	
</div>
