#banner{
	width:100%;
	height: 100%;
	position: absolute;
	background-image:  url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Vivacolombia.svg/1200px-Vivacolombia.svg.png'), -webkit-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,0.8) 100%), url('/assets/white_airplane-wallpaper-1152x720.jpg');
	background-size: 400px auto,cover,cover; 
	background-repeat: no-repeat;
	background-position: 10% 80%,center, center;
}