<div class="container vuelo-container">
	<h2>Promo vuela 3 ciudades</h2>
	<ul class="list-group">
	  <li class="list-group-item" *ngFor="let ciudad of ciudades" (click)="mostrarActivo(miCiudad, viajeBoton)" #miCiudad>{{ciudad.nombre}} </li>
	  
	</ul>
	<button type="button" disabled class="btn btn-light" #viajeBoton>Su vuelo no aplica a la promoción</button>
</div>