@-webkit-keyframes animSlide {
	0%{
		left: 0%;
	}
	14%{
		left: 0%;	
	}	
	28%{
		left: -100%;
	}
	42%{
		left: -100%;
	}
	56%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	84%{
		left: -300%;	
	}
	100%{
		left: -300%;
	}
}
.box_image{
	max-height: 160px;
	overflow: hidden;
}
.flag {
    width: 24px;
    height: 24px;
    background: url('../img/flags.png') no-repeat;
}
.flag.flag-pe {
    background-position: 0 -24px;
}

.flag.flag-br {
    background-position: -24px 0;
}

.flag.flag-co {
    background-position: -48px 0;
}

.flag.flag-ar {
    background-position: 0 0;
}

.flag.flag-uy {
    background-position: -24px -24px;
}
#banner{
	position: relative;
	height: 500px;
	overflow: hidden;
}
#banner .jumbotron{
	min-height: 500px;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	z-index: 1;
}
#banner .display-3, #banner .lead{
	color: white;
}
#banner ul{
	animation: animSlide 10s;
	animation-iteration-count: infinite;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	width: 400%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#banner li{
	width: 100%;
	height: 600px;
	background-size: cover;
}
#slide1, #slidefinal{
	background-image: url("../img/slide1.jpg");
}
#slide2{
	background-image: url("../img/slide2.jpg");
}
#slide3{
	background-image: url("../img/slide3.jpg");
}

