$color-base: red;
.vuelo-container{ 
	h2{
		font-family: 'Wendy One', sans-serif;
		color: white;
		font-size: 4em;
		text-shadow: 1px 1px 2px black;
		color: $color-base;
	}
	button{
		margin-top: 20px;
		color: $color-base;
	}
	li{
		color: $color-base;
	}
}