h1{
	text-align: center;
	width: 300px;
	margin: 40px auto;
}
.ficha{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 90%;
    background-position: center center;
    cursor: pointer;
    background-repeat: no-repeat;
}
.ficha1{
	background-image:url("../img/imagen1.png");
}
.ficha2{
	background-image:url("../img/imagen2.png");
}
.ficha3{
	background-image:url("../img/imagen3.png");
}
.ficha4{
	background-image:url("../img/imagen4.png");
}
.ficha5{
	background-image:url("../img/imagen5.png");
}
#marcadores{
	position: relative;
	display: none;
}
#contenedorJuego{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 360px;
	border: 1px solid #ccc;
	display: none;
}

#contenedorLogin, #juego{
	width: 50%;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	left: 0;
	right: 0;
	margin: 50px auto;
	padding: 0px 80px 0px;
	border-radius: 10px;
	min-height: 50%;
	z-index: 2;
}
#juego{width: 90%; opacity: 0; z-index: 1; height: 460px;}
#juego h2{    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 15px;}
#juego a{ font-size: 20px; font-weight: lighter; }

#juego article{
	text-align: center;
    padding-top: 100px;
}

#contenedorLogin .row{
	margin: 10px 0;
}
#videofondo{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}