@-webkit-keyframes animacionLogoPapa{
	0%{
		top: -200px;
	}
	50%{
		top: 20px;
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes barraAnimar{
	from{
		top: -90px;
	}
	to{
		top: 0px;
	}
} 
/*
.headerAnimate{
	animation: barraAnimar 2s;
}
*/
footer p{
	font-size: 1em;
}
body{
	font-family: 'Verdana';
}
header{
	background-color: rgb(255,225,0);
	font-size: 2em;
	text-align: center;
	padding: 1.5em 0;
	/*position: fixed;
	width: 100%;
	top: 0;*/
}
h1, ul{
	margin: 0 auto;
}
ul{
	margin:0;
	padding:0;
}
nav li{
	display: inline-block;
	vertical-align: middle;
}
a{
	text-decoration: none;
}
h2{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 0px;
	background: white;
	width: 100%;
	text-align: center;
}
figcaption{
	position: relative;
	top: -50px;
	background: white;
	padding: 10px;
}
.logoScroll{
	top: 0 !important;
	width: 80px !important;
	height: 80px !important;
}
.headerScroll{
	position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    font-size: .8em;

}
.headerAnimate{
	animation: barraAnimar 2s;
}
.menu{
	margin: 0 10px;
}
.menu a{
	color: white;
}
.caja{
	width: 200px;
	height: 200px;
	border: 1px solid gray;
	padding-top: 100px;
}

.amarilla{
	position: absolute;
	top: 100%;
	background-color: rgba(255,225,0,1);
	transition: top 1s;
}
#ciudades{
	text-align: center;
	margin-bottom: 100px;
}
#ciudades li{
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 302px;
	overflow: hidden;
	background-size: cover;
}
#ciudades li div:first-child p{
	background-color: rgba(255,255,255,0.9);
	font-size: 1.4em;
}
#ciudades li:nth-child(1){
	background-image: url('https://www.las2orillas.co/wp-content/uploads/2017/02/Bogota1.jpg');
}
#ciudades li:nth-child(2){
	background-image: url('https://www.las2orillas.co/wp-content/uploads/2017/03/medellin.jpg');
}
#ciudades li:nth-child(3){
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Sunset-cartagena-tower-dewired.jpg/270px-Sunset-cartagena-tower-dewired.jpg');
}
#ciudades li:nth-child(4){
	background-image: url('http://cdn.precioyviajes.com/Destinations/1424/1424/villavicencio-3769705587-L.jpg');
}
#ciudades li:hover .amarilla{
	top:0;
}
#contenido figure, #texto{
	display: inline-block;
	vertical-align: top;
}
#texto{
	width: 40%;
	column-count: 2;
	column-gap: 10px;
}

#logo{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	background-color: rgba(255,255,255,0);
	position: absolute;
	left: 20px;
	top: 20px;
	background-image: url('../img/logo.png');
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color 1s, transform 1s;
	cursor: pointer;
	animation: animacionLogoPapa 4s;
}
#logo:hover{
	transform: scale(.8, .8) rotate(360deg);
	-webkit-transform: scale(.8, .8) rotate(360deg);
	-moz-transform: scale(.8, .8) rotate(360deg);
	-o-transform: scale(.8, .8) rotate(360deg);
	-ms-transform: scale(.8, .8) rotate(360deg);
	
	background-color: rgba(255,255,255,1);
}

@media screen and (max-width: 1024px){
	#logo{
		position: static;
		margin: 0 auto;
	}
	#texto{
		width: 95%;
		padding: 0 20px;
	}
	#contenido figure{
		display: block;
		margin: 20px auto;
		width: 80%;
		text-align: center;
	}
}
@media screen and (max-width: 768px){
	#ciudades{
		max-width: 420px;
		margin: 0 auto;
	}
}
@media screen and (max-width:670px){
	h1{
		font-size: 1em;
	}
	figure img{
		width: 100%;
	}
	.menu a{
		font-size: .5em;
	}
	#texto{
		column-count: 1;
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	#logo{
		width: 60px;
		height: 60px;
	}
} 
@media screen and (max-width:380px){
	.caja{
		width: 100%;
	}
	#ciudades li{
		display: block;
		width: 90%;
		margin: 10px auto;
	}
}
