$reset:0;
$colorchev: #b58a1e;
.contenido{	
	.card{
		text-align:center;
		padding: 10px 0;
		margin: 10px 0px;
		h4{
			margin-bottom: 5px;
		}
		a{
			border-color: $colorchev;
			color:$colorchev;
			background: transparent;
			font-size:.8em;
			padding: 2px 5px;
		}
	}
	.card-text{
		font-size:.5em
	}
}