<div *ngIf="!error">
	<ul class="list-unstyled" *ngIf="compras.length>0">
		<li *ngFor="let item of compras">
			<app-compra-individual [compraInfo]="item"></app-compra-individual>
		</li>
	</ul>
	<div *ngIf="compras.length<=0">
		<h2>
			No hay compras
		</h2>
	</div>
</div>
<div *ngIf="error" class="alert alert-danger">
	<span>Error: Aplicacion no disponible, consulte con el administrador</span>
</div>