footer p{
	font-size: 1em;
}
body{
	font-family: 'Verdana';
}
header{
	background-color: rgb(255,225,0);
	font-size: 2em;
	text-align: center;
	padding: 1.5em 0;
	/*position: fixed;
	width: 100%;
	top: 0;*/
}
h1, ul{
	margin: 0 auto;
}
ul{
	margin:0;
	padding:0;
}
nav li{
	display: inline-block;
	vertical-align: middle;
}
a{
	text-decoration: none;
}
h2{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 0px;
	background: white;
	width: 100%;
	text-align: center;
}
figcaption{
	position: relative;
	top: -50px;
	background: white;
	padding: 10px;
}
.menu a{
	color: white;
}
.caja{
	width: 200px;
	height: 200px;
	border: 1px solid gray;
	padding-top: 100px;
}

.amarilla{
	position: absolute;
	top: 100%;
	background-color: rgba(255,225,0,1);
	transition: top 1s;
}
#ciudades{
	text-align: center;
	margin-bottom: 100px;
}
#ciudades li{
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 302px;
	overflow: hidden;
	background-size: cover;
}
#ciudades li div:first-child p{
	background-color: rgba(255,255,255,0.9);
	font-size: 1.4em;
}
#ciudades li:nth-child(1){
	background-image: url('https://www.las2orillas.co/wp-content/uploads/2017/02/Bogota1.jpg');
}
#ciudades li:nth-child(2){
	background-image: url('https://www.las2orillas.co/wp-content/uploads/2017/03/medellin.jpg');
}
#ciudades li:nth-child(3){
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Sunset-cartagena-tower-dewired.jpg/270px-Sunset-cartagena-tower-dewired.jpg');
}
#ciudades li:nth-child(4){
	background-image: url('http://cdn.precioyviajes.com/Destinations/1424/1424/villavicencio-3769705587-L.jpg');
}
#ciudades li:hover .amarilla{
	top:0;
}
#contenido figure, #texto{
	display: inline-block;
	vertical-align: top;
}
#texto{
	width: 40%;
	column-count: 2;
	column-gap: 10px;
}

#logo{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	background-color: rgba(255,255,255,0);
	position: absolute;
	left: 20px;
	top: 20px;
	background-image: url('../img/logo.png');
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color 1s;
}
#logo:hover{
	background-color: rgba(255,255,255,1);

}
