<div class="container">
	<h3>DETALLE DEL LIBRO</h3>
	<h1>{{libroSeleccionado.titulo}}</h1>
	<h2>por: {{libroSeleccionado.autor}}</h2>
	<p>{{libroSeleccionado.descripcion}}</p>
	<button class="btn btn-primary" (click)="agregarFavorito(libroSeleccionado)">
		<i class="glyphicon glyphicon-plus"></i> 
		Adicionar a Favoritos
	</button>
</div>