<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
			  <div class="card-block">
			  	<ng-template #mensaje1>Esta grafica te permite conocer las ventas del sitio web en los ultimos 3 años</ng-template>
			    <h4 class="card-title" [ngbTooltip]="mensaje1">Numero de Ventas Ultimos 3 Años</h4>
			    <canvas baseChart width="400" height="400" 
			    	[datasets]="graficaData" 
			    	[labels]="graficaLabels" 
			    	[options]="graficaOptions"
			    	[colors]="graficaColors"
			    	[legend]="graficaLegend"
			    	[chartType]="graficaChartType"></canvas>
			  </div>
			</div>
			<br>
			<table class="table table-striped table-responsive">
			  <thead>
			    <tr>
			      <th *ngFor="let titulo of graficaLabels">{{titulo}}</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let fila of graficaData">
			      <td *ngFor=" let j=index; let columna of graficaLabels;">{{fila.data[j]}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>

		<div class="col-md-6">
			<div class="card">
			  <div class="card-block">
			    <h4 class="card-title">Origen visita usuarios</h4>
			    <canvas baseChart width="400" height="400" 
			    	[data]="infoData" 
			    	[labels]="infoLabels" 
			    	[options]="infoOptions"
			    	[colors]="infoColors"
			    	[legend]="infoLegend"
			    	[chartType]="infoChartType"></canvas>
			    <canvas baseChart width="400" height="400" 
			    	[datasets]="infoDataRadar" 
			    	[labels]="infoLabels" 
			    	[options]="infoOptions"
			    	[colors]="infoColors"
			    	[legend]="infoLegend"
			    	[chartType]="infoChartTypeRadar"></canvas>
			  </div>
			</div>
		</div>

	</div>
</div>