h1{
	text-align: center;
	width: 300px;
	margin: 40px auto;
}
#contenedorLogin, #juego{
	width: 50%;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	left: 0;
	right: 0;
	margin: 50px auto;
	padding: 0px 80px 0px;
	border-radius: 10px;
	min-height: 50%;
	z-index: 2;
}
#juego{width: 90%; opacity: 0; z-index: 1;}
#juego h2{text-align: right;}
#juego a{ font-size: 20px; font-weight: lighter; }


#contenedorLogin .row{
	margin: 10px 0;
}
#videofondo{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}