<div class="container">
	<div *ngIf="cargando">
		<div class="glyphicon glyphicon-hourglass"></div> Cargando....
	</div>
	<ul>
		<li *ngFor="let libro of libros">
			<a>{{libro.titulo}}</a>
		</li>
	</ul>
	<div class="alert alert-warning" *ngIf="errorHttp">
		No se puede cargar la lista
	</div>
</div>