$ancho100: 100%;
$nombrecampo: campo;
$colorinput: #600909;

@mixin gradiente($color1, $pos1, $color2, $pos2){
	background-image: -webkit-linear-gradient(top, $color1 $pos1, $color2 $pos2);
}
input{
	@include gradiente(rgba(255,255,255,0.8), 60%, rgba(0,0,0,0.4), 100%);
	&:hover{
		border: 1px solid cyan;
	}
}
:host{
	@include gradiente($colorinput, 0%, #301212, 100%)
	position: absolute;
	width: $ancho100;
    height: $ancho100;
}

@for $i from 1 through 4{
	##{$nombrecampo}-#{$i}{
		color: $colorinput;
	}
}


.container{
	padding-top:100px;
}

label{
	color:white;
	&:hover{
		font-style:italic;
	}
}
textarea{
	@extend input;
}

