<div class="container">
  <form (ngSubmit)="enviarCorreo(usuario)">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
      <div class="col-10">
        <input id="campo-1" class="form-control" type="text" placeholder="Ingresa tu nombre" [(ngModel)]="usuario.nombre" name="nombre" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input id="campo-2" class="form-control" type="email" placeholder="correo@dominio.com" [(ngModel)]="usuario.email" name="email"  required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Telefono</label>
      <div class="col-10">
        <input id="campo-3" class="form-control" type="tel" placeholder="(4)-555-5555" [(ngModel)]="usuario.telefono" name="telefono"  required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Mensaje</label>
      <div class="col-10">
        <textarea id="campo-4" placeholder="Ingresa tu mensaje" class="form-control" rows="10" [(ngModel)]="usuario.mensaje" name="mensaje"  required="required"></textarea >
      </div>
    </div>

    <div class="form-group row">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    
  </form>
</div>