<ul id="menu">
  <li data-menuanchor="inicio">
    <a href="#inicio">Inicio</a>
  </li>
  <li data-menuanchor="vuelos">
    <a href="#vuelos">Vuelos</a>
  </li>
  <li data-menuanchor="contacto">
    <a href="#contacto">Contacto</a>
  </li>
</ul>
<div mnFullpage>
  <div class="section fp-section fp-table" data-anchor="inicio">
    <div class="fp-tableCell">
      <app-banner></app-banner>    
    </div>
  </div>  
  <div class="section fp-section fp-table" data-anchor="vuelos">
    <div class="fp-tableCell">
      <app-vuelos></app-vuelos> 
    </div>
  </div>  
  <div class="section fp-section fp-table" data-anchor="contacto">
    <div class="fp-tableCell">
      <app-contacto></app-contacto>    
    </div>
  </div>  
</div>