/* You can add global styles to this file, and also import other style files */
$reset:0;
$colorchev: #b58a1e;

#menu, #ciudades{
	margin: $reset;
	padding: $reset;
	text-align:center;
	li{
		margin:20px 5px;
		display: inline-block;
		button{
			border-color: $colorchev;
			color:$colorchev;
			&:hover{
				background: $colorchev;
				color: white;
			}	
		}
	}
}
