<div class="container">
	<h2>Nuestros Concesionarios</h2>
	<p>Estamos a nivel nacional, ubica el concesionario mas cercano a tu ciudad</p>
	<ul id="ciudades">
		<li *ngFor="let ciudad of ciudades; let i = index">
			<button  type="button" class="btn btn-outline-primary" (click)="cambiarCiudad(i)">{{ciudad.nombre}}</button>
		</li>
	</ul>
</div>


<agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom" [mapTypeId]="'roadmap'" [styles]="stylesMapa">
	<div *ngFor="let marcador of puntosActivos">
		<agm-marker [latitude]="marcador.lat" [longitude]="marcador.long" [iconUrl]="'/assets/icono.png'">
			<agm-info-window [isOpen]="true">
				{{marcador.titulo}}
			</agm-info-window>
		</agm-marker>
	</div>	
</agm-map>