<ul id="menu">
	<li *ngFor="let categoria of categorias">
		<button type="button" class="btn btn-outline-primary" (click)="verCategoria(categoria.id)">
			{{ categoria.nombre | uppercase}}
		</button>
	</li>	
</ul>
<div class="contenido" [ngbCollapse]="vercategoria1">
	<div class="row">
		<div class="col-md-2" *ngFor="let carro of categoria1">
			<div class="card">
			  <img class="card-img-top" src="{{carro.imagen}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{carro.nombre}}</h4>
			     <p class="card-text">Desde {{carro.precio}}</p>
			    <a href="#" class="btn btn-primary">Ver mas</a>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="contenido" [ngbCollapse]="vercategoria2">
	<div class="row">
		<div class="col-md-2" *ngFor="let carro of categoria2">
			<div class="card">
			  <img class="card-img-top" src="{{carro.imagen}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{carro.nombre}}</h4>
			     <p class="card-text">Desde {{carro.precio}}</p>
			    <a href="#" class="btn btn-primary">Ver mas</a>
			  </div>
			</div>
		</div>
	</div>
</div>