<div class="row" (click)="articuloComprado(compraInfo)">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<p>{{ compraInfo.texto }}</p>	
			</div>
			<div class="col-md-6">
				<p><i class="fa fa-usd" aria-hidden="true"></i> {{ compraInfo.valor }}</p>
			</div>
		</div>			
	</div>
	<div class="col-md-4">
		<i class="fa fa-check-circle" aria-hidden="true" *ngIf="compraInfo.comprado"></i>
	</div>
</div>


